
EasyServerApp/.vs/EasyServerApp/FileContentIndex/read.lock
EasyServerApp/.vs/EasyServerApp/FileContentIndex/2457f445-186d-4526-bc06-399dc8f0a54e.vsidx
EasyServerApp/.vs/EasyServerApp/FileContentIndex/90a3c74e-c0a2-4241-a674-184e1352ec55.vsidx
EasyServerApp/.vs/EasyServerApp/FileContentIndex/bf251eb1-2731-4b71-aa3e-3b06a455ddba.vsidx
EasyServerApp/.vs/EasyServerApp/FileContentIndex/cb0cfa0e-8c81-4010-b443-2944fde3b11b.vsidx
EasyServerApp/EasyServerApp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX/mscordbi.dll
